#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
    height: 100vh;
     animation-duration: 3s;
    animation-name: slide-in; 
     margin-left: 15%; 
  }

  @keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
  
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex: 1;
  }
  
  .hero-text {
    text-align: center;
  }
  
  .hero-title {
    font-size: 3rem;
    color: #34abd3; 
    font-weight: bold;
    
  }
  
  .hero-subtitle {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .hero-description {
    text-align: center;
  }
  
  .hero-image-container {
    flex: 1;
  }
  
  .hero-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }
  